<div class='card'>

  <div class='container'>
    <table>
      <tr class='headers'>
        <th>B</th>
        <th>I</th>
        <th>N</th>
        <th>G</th>
        <th>O</th>
      </tr>
      <tr>
        {{#each bingoData1 as |datum|}}

          <button>
            <td class='word'>{{datum.event}}</td>
          </button>
        {{/each}}
      </tr>

      <tr>
        {{#each bingoData2 as |datum|}}

          <button>
            <td class='word'>{{datum.event}}</td>
          </button>
        {{/each}}
      </tr>

      <tr>
        {{#each bingoData3 as |datum|}}

          <button>
            <td class='word'>{{datum.event}}</td>
          </button>
        {{/each}}
      </tr>

      <tr>
        {{#each bingoData4 as |datum|}}
          <button>
            <td class='word'>{{datum.event}}</td>
          </button>
        {{/each}}
      </tr>

      <tr>
        {{#each bingoData5 as |datum|}}

          <button>
            <td class='word'>{{datum.event}}</td>
          </button>
        {{/each}}
      </tr>
    </table>
    </div>
</div>